.home {
  color: white;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(198, 6, 5);
  background: linear-gradient(
    221deg,
    rgba(198, 6, 5, 1) 36%,
    rgba(102, 1, 0, 1) 100%
  );
}

.home h1 {
  color: white;
  font-size: 4rem;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}

.home h3 {
  color: white;
}

@media only screen and (max-width: 600px) {
  .home h1 {
    font-size: 2rem;
    margin: 5px;
  }
}
