<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/logopdi.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Form Pendaftaran PDI Perjuangan" />
    <link rel="apple-touch-icon" href="/logopdi.png" />
    <link rel="manifest" href="/manifest.json" />
    <title>Form Pendaftaran</title>

    <!-- REPLACE CSS HERE -->
    <link href="/static/css/2.10bc9b17.chunk.css" rel="stylesheet" />
    <link href="/static/css/main.61b54e6e.chunk.css" rel="stylesheet" />
    <!-- REPLACE CSS HERE -->

    <title>{{title}}</title>
  </head>

  <body>
    {{{body}}}

    <!-- REPLACE WITH JS CHUNK -->
    <script src="/static/js/2.1e6cdf59.chunk.js"></script>
    <script src="/static/js/main.9a6d1376.chunk.js"></script>
  </body>
</html>
